<a href="https://colab.research.google.com/github/thiyagi9/PythonPractises/blob/main/Suzlon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
 #library imports
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
pd.set_option('max_columns', 140)
pd.set_option('precision', 3)

In [3]:
# Uploading "Working hours" from the working machine. This can be replaced by having the file in GDrive itself
from google.colab import files
f1 = files.upload()

Saving 05-06-2020-TO-04-06-2021SUZLONALLN.csv to 05-06-2020-TO-04-06-2021SUZLONALLN.csv

In [36]:
df=pd.read_csv('05-06-2020-TO-04-06-2021SUZLONALLN.csv',error_bad_lines=False)
df['Perc_Change']=((df['Close Price']-df['Prev Close'])/df['Prev Close'])*100

In [37]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Perc_Change
0,SUZLON,EQ,05-Jun-2020,3.30,3.55,3.60,3.50,3.60,3.60,3.59,19670851,7.068e+07,4908,10876037,55.29,9.091
1,SUZLON,EQ,08-Jun-2020,3.60,3.95,3.95,3.95,3.95,3.95,3.95,7283069,2.877e+07,3807,7249225,99.54,9.722
2,SUZLON,EQ,09-Jun-2020,3.95,4.30,4.30,3.95,4.30,4.30,4.19,58781511,2.462e+08,26681,37218299,63.32,8.861
3,SUZLON,EQ,10-Jun-2020,4.30,4.50,4.50,4.25,4.50,4.50,4.46,41054393,1.833e+08,16508,19589782,47.72,4.651
4,SUZLON,EQ,11-Jun-2020,4.50,4.70,4.70,4.60,4.70,4.70,4.69,18177685,8.533e+07,7623,10569158,58.14,4.444

In [44]:
df_max1 = df.sort_values('High Price', ascending=False).head(1)

df_maxQty=df.sort_values('Total Traded Quantity',ascending=False).head(10)

In [45]:
df_maxQty

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Perc_Change
250,SUZLON,EQ,04-Jun-2021,7.05,7.20,7.60,7.05,7.35,7.35,7.35,204370435,1.502e+09,94237,61778354,30.23,4.255
233,SUZLON,EQ,11-May-2021,5.60,5.65,6.15,5.50,6.15,6.15,6.06,189569965,1.149e+09,39665,73878947,38.97,9.821
249,SUZLON,EQ,03-Jun-2021,6.45,6.65,7.05,6.45,7.05,7.05,6.89,185927034,1.281e+09,79425,79015251,42.50,9.302
248,SUZLON,EQ,02-Jun-2021,5.90,6.05,6.45,5.90,6.45,6.45,6.32,173915134,1.100e+09,64645,64040564,36.82,9.322
24,SUZLON,EQ,09-Jul-2020,5.05,4.80,5.30,4.80,5.30,5.30,5.09,152568245,7.758e+08,35333,42618060,27.93,4.950
234,SUZLON,EQ,12-May-2021,6.15,6.30,6.35,5.65,5.75,5.70,5.90,86929070,5.133e+08,41996,43177844,49.67,-7.317
152,SUZLON,BE,08-Jan-2021,8.05,8.45,8.45,7.65,7.65,7.65,7.89,85124610,6.716e+08,68259,-,-,-4.969
21,SUZLON,EQ,06-Jul-2020,5.80,6.05,6.05,5.55,5.55,5.55,5.78,82902105,4.796e+08,29018,38867856,46.88,-4.310
13,SUZLON,EQ,24-Jun-2020,4.65,4.85,4.85,4.45,4.50,4.55,4.69,78444601,3.677e+08,27143,27070892,34.51,-2.151
183,SUZLON,EQ,23-Feb-2021,5.00,5.05,5.25,4.95,5.25,5.25,5.13,66754952,3.425e+08,15771,34143473,51.15,5.000

In [24]:
df_perc=df[df['Date'].isin(['08-Jan-2021','11-Jan-2021'])]

df_perc

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
152,SUZLON,BE,08-Jan-2021,8.05,8.45,8.45,7.65,7.65,7.65,7.89,85124610,6.716e+08,68259,-,-
153,SUZLON,BE,11-Jan-2021,7.65,7.30,7.30,7.30,7.30,7.30,7.30,10523957,7.682e+07,14015,-,-

In [41]:
df[df['Perc_Change']>0]

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Perc_Change
0,SUZLON,EQ,05-Jun-2020,3.30,3.55,3.60,3.50,3.60,3.60,3.59,19670851,7.068e+07,4908,10876037,55.29,9.091
1,SUZLON,EQ,08-Jun-2020,3.60,3.95,3.95,3.95,3.95,3.95,3.95,7283069,2.877e+07,3807,7249225,99.54,9.722
2,SUZLON,EQ,09-Jun-2020,3.95,4.30,4.30,3.95,4.30,4.30,4.19,58781511,2.462e+08,26681,37218299,63.32,8.861
3,SUZLON,EQ,10-Jun-2020,4.30,4.50,4.50,4.25,4.50,4.50,4.46,41054393,1.833e+08,16508,19589782,47.72,4.651
4,SUZLON,EQ,11-Jun-2020,4.50,4.70,4.70,4.60,4.70,4.70,4.69,18177685,8.533e+07,7623,10569158,58.14,4.444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,SUZLON,EQ,26-May-2021,5.40,5.40,5.90,5.35,5.90,5.90,5.76,55685268,3.205e+08,17667,23083757,41.45,9.259
247,SUZLON,EQ,01-Jun-2021,5.70,5.75,6.05,5.65,6.00,5.90,5.86,46123605,2.704e+08,30584,19726067,42.77,3.509
248,SUZLON,EQ,02-Jun-2021,5.90,6.05,6.45,5.90,6.45,6.45,6.32,173915134,1.100e+09,64645,64040564,36.82,9.322
249,SUZLON,EQ,03-Jun-2021,6.45,6.65,7.05,6.45,7.05,7.05,6.89,185927034,1.281e+09,79425,79015251,42.50,9.302
250,SUZLON,EQ,04-Jun-2021,7.05,7.20,7.60,7.05,7.35,7.35,7.35,204370435,1.502e+09,94237,61778354,30.23,4.255

In [35]:
df_perc['Perc_Change']=((df_perc['Close Price']-df_perc['Prev Close'])/df_perc['Prev Close'])*100

#(df['Close Price']/df['Prev Close'])*100

df_perc['Perc_Change']
#df_perc['Close Price']-df_perc['Prev Close']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

152   -4.969
153   -4.575
Name: Perc_Change, dtype: float64